.black-bg {
  background-color: black;
}

.white-f {
  color: white;
}

.white-bg {
  background-color: white;
}

.black-f {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 13vw;
  grid-template-rows: 3vw;
  width: 100%;
  background-color: #ececec;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  min-width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
header .left {
  width: 10%;
  height: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .left .mobile-list {
  display: none;
}
header .left .hamburger {
  min-width: 4vw;
  height: 1vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header .left .hamburger div {
  width: 1.1vw;
  height: 0.2vh;
  background-color: #9e9e9e;
}
header .left img {
  width: 5vw;
  height: 5vw;
}
header .middle {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .middle form {
  display: flex;
  width: 90%;
}
header .middle form input {
  padding-left: 1%;
  font-size: 1.1vw;
  height: 2vw;
  width: 100%;
}
header .middle form button {
  font-size: 1.2vw;
  height: 2vw;
  width: 4vw;
  border: 1px gray solid;
  cursor: pointer;
}
header .middle button {
  font-size: 1.2vw;
  height: 3vw;
  width: 3vw;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
header .right {
  width: 18%;
  height: 100%;
  font-size: 1.2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .right i {
  cursor: pointer;
}
header .right .dark-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
header .right .dark-light h4 {
  font-size: 1vw;
  margin-right: 2%;
  width: 100%;
  white-space: nowrap;
}
header .right .dark-light .color {
  position: relative;
}
header .right .dark-light .color input {
  width: 2vw;
  height: 2vw;
  position: relative;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
header .right .dark-light .color input:checked + .toggle {
  background-color: blue;
}
header .right .dark-light .color input:checked + .toggle::after {
  transition: 0.7s;
  left: 60%;
}
header .right .dark-light .color .toggle {
  height: 1vw;
  position: absolute;
  border-radius: 20px;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: green;
}
header .right .dark-light .color .toggle::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 0.7s;
}

aside {
  background-color: white;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 13vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 3vw;
  bottom: 0;
  line-height: 2vw;
}
aside a {
  font-size: 1vw;
  text-decoration: none;
  color: black;
  margin-bottom: 6%;
  display: flex;
  align-items: center;
}
aside a i {
  color: black;
  padding: 0% 10%;
}
aside hr {
  margin: 5% 0%;
}
aside h4 {
  padding-left: 10%;
  font-size: 0.9vw;
}
aside p {
  font-size: 1vw;
}

main {
  grid-row: 2/3;
  grid-column: 2/3;
}
main .main-img {
  width: 100%;
  height: 25vw;
}
main .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .profile-menu {
  width: 100%;
  height: 10vw;
  background-color: white;
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
main .profile-menu .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .profile-menu .profile .profile-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  overflow: hidden;
}
main .profile-menu .profile .profile-left img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
main .profile-menu .profile .profile-left div {
  font-size: 0.8vw;
}
main .profile-menu .profile .profile-left div small {
  color: gray;
}
main .profile-menu .profile button {
  background-color: #d80303;
  font-size: 1.2vw;
  color: white;
  width: 7vw;
  height: 2.5vw;
  border: none;
  cursor: pointer;
  outline: none;
}
main .profile-menu .menu {
  width: 80%;
  padding-top: 1%;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .profile-menu .menu a {
  padding: 1%;
  text-decoration: none;
  color: black;
  font-size: 1vw;
}
main .profile-menu .menu a:nth-child(2) {
  border-bottom: 2px black solid;
}
main .videos {
  margin: 1% auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .videos div {
  margin-bottom: 1%;
  width: 15%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
main .videos div::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "3:45";
  position: absolute;
  bottom: 32%;
  right: 4%;
  background-color: black;
  color: white;
  width: 2vw;
  height: 1vw;
  font-size: 0.8vw;
}
main .videos div img {
  width: 100%;
  height: 7vw;
  object-fit: cover;
  position: relative;
  border-bottom: 0.3vw red solid;
}
main .videos div p {
  padding: 2% 0%;
  font-size: 1vw;
}
main .videos div small {
  font-size: 0.7vw;
  color: gray;
}

::-webkit-scrollbar {
  background-color: #ebebeb;
  width: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  body {
    grid-template-rows: 8vw;
  }

  header {
    height: 8vw;
    z-index: 1;
  }
  header .left {
    width: 40%;
    height: 100%;
  }
  header .left:hover .mobile-list {
    display: block;
  }
  header .left .mobile-list {
    padding-top: 8%;
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    line-height: 10vw;
    animation: drop 2s;
  }
  header .left .mobile-list hr {
    margin: 4% 0%;
  }
  header .left .mobile-list a {
    display: block;
    font-size: 7vw;
    padding-left: 10%;
    width: 80%;
    color: black;
    margin-top: 5%;
    text-decoration: none;
  }
  header .left .mobile-list a i {
    margin-right: 10%;
  }
  header .left .mobile-list h4 {
    font-size: 4vw;
    margin-bottom: 7%;
  }
  @keyframes drop {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 100vh;
      opacity: 1;
    }
  }
  header .left .hamburger {
    width: 20%;
    height: 3vw;
  }
  header .left .hamburger div {
    width: 50%;
  }
  header .left img {
    width: 50%;
    height: 13vw;
  }
  header .middle {
    display: none;
  }
  header .right {
    width: 40%;
  }
  header .right i {
    font-size: 3vw;
  }
  header .right .dark-light h4 {
    font-size: 2vw;
  }
  header .right .dark-light .color input {
    width: 4vw;
    height: 4vw;
  }
  header .right .dark-light .color .toggle {
    height: 50%;
    top: 25%;
  }
  header .right .dark-light .color .toggle::after {
    width: 1.4vw;
    height: 1.4vw;
  }

  aside {
    display: none;
  }

  main {
    grid-column: 1/3;
  }
  main .main-img {
    height: 50vw;
  }
  main .profile-menu {
    height: 20vw;
  }
  main .profile-menu .profile {
    height: 60%;
  }
  main .profile-menu .profile .profile-left {
    width: 50%;
  }
  main .profile-menu .profile .profile-left img {
    width: 10vw;
    height: 10vw;
  }
  main .profile-menu .profile .profile-left div {
    font-size: 2.5vw;
  }
  main .profile-menu .profile button {
    width: 13vw;
    height: 5vw;
    font-size: 2vw;
  }
  main .profile-menu .menu {
    height: 40%;
    align-items: center;
  }
  main .profile-menu .menu a {
    font-size: 2vw;
  }
  main .profile-menu .menu a:nth-child(2) {
    border-bottom: 1px black solid;
  }
  main .videos div {
    width: 33%;
    height: 30vw;
  }
  main .videos div img {
    width: 100%;
    height: 80%;
  }
  main .videos div p {
    font-size: 2vw;
  }
  main .videos div small {
    font-size: 1.5vw;
  }
  main .videos div::after {
    width: 5vw;
    height: 3vw;
    font-size: 2vw;
    bottom: 25%;
  }
}

/*# sourceMappingURL=main.css.map */
